{% extends "bus_resrv_system.html" %}
{% load staticfiles %}
{% block content %}

	<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjQkRfFLXaJuC1j75IIyMsQmjNvM2qkZI">
    </script>

    <script type="text/javascript"> 
    
                		function callback(response, status) 
                        {
                            if(status=="OK") 
                            {
                                var originmin = 1000000;
                                var originmini = -1; 

                                for(var i = 0; i < response.rows.length; i++)
                                {
                                    var a = response.rows[i].elements[0].distance.value;
                                    if(a < originmin)
                                    {
                                        originmin = a;
                                        originmini = i;
                                    }
                                    console.log(a + "->" + response.originAddresses[i]);
                                }
                                var directionsService = new google.maps.DirectionsService();
                                var directionsDisplay = new google.maps.DirectionsRenderer();

                                var map = new google.maps.Map(document.getElementById('map1'), {
                                    zoom:6,
                                    mapTypeId: google.maps.MapTypeId.ROADMAP
                                 });
                            
                                directionsDisplay.setMap(map);
                                //directionsDisplay.setPanel(document.getElementById('panel'));
                        
                                var request = {
                                    destination: response.originAddresses[originmini], 
                                    origin: response.destinationAddresses[0],
                                    travelMode: google.maps.DirectionsTravelMode.DRIVING
                                };
                        		console.log(response.originAddresses[originmini]);
                        		console.log(response.destinationAddresses[0])

                        		document.getElementById('pickup_id').value = originmini + 1;
               					console.log(originmini + 1);

                                directionsService.route(request, function(response, status) {
                                    if (status == google.maps.DirectionsStatus.OK) {
                                        directionsDisplay.setDirections(response);
                                    }
                                });
                            } 
                            else 
                            {
                                    alert("Error: " + status);
                            }
                        }

                        function initMap()
                        {
                            var distanceService = new google.maps.DistanceMatrixService();
                            var origins = [];
                            {% for point in bus_pickuppoints %}
                            	pc = {{point.pincode}};
                            	origins.push(pc.toString());
                            {% endfor %}
                            console.log(origins);
                            var destination = document.getElementById('pickup_pincode').value;
                            console.log(destination);
                            distanceService.getDistanceMatrix(
                                {
                                    origins: origins,
                                    destinations: [destination],
                                    travelMode: google.maps.TravelMode.DRIVING,
                                    avoidHighways: false,
                                    avoidTolls: false
                                }, 
                                callback
                            );
                        }
                    </script>


    <script type="text/javascript"> 
    
                		function callback2(response, status) 
                        {
                            if(status=="OK") 
                            {
                                var originmin = 1000000;
                                var originmini = -1; 

                                for(var i = 0; i < response.rows.length; i++)
                                {
                                    var a = response.rows[i].elements[0].distance.value;
                                    if(a < originmin)
                                    {
                                        originmin = a;
                                        originmini = i;
                                    }
                                    console.log(a + "->" + response.originAddresses[i]);
                                }
                                var directionsService = new google.maps.DirectionsService();
                                var directionsDisplay = new google.maps.DirectionsRenderer();

                                var map = new google.maps.Map(document.getElementById('map2'), {
                                    zoom:6,
                                    mapTypeId: google.maps.MapTypeId.ROADMAP
                                 });
                            
                                directionsDisplay.setMap(map);
                                //directionsDisplay.setPanel(document.getElementById('panel'));
                        
                                var request = {
                                    origin: response.originAddresses[originmini], 
                                    destination: response.destinationAddresses[0],
                                    travelMode: google.maps.DirectionsTravelMode.DRIVING
                                };
                        		console.log(response.originAddresses[originmini]);
                        		console.log(response.destinationAddresses[0])

                        		document.getElementById('drop_id').value = originmini + 1;
               					console.log(originmini + 1);

                                directionsService.route(request, function(response, status) {
                                    if (status == google.maps.DirectionsStatus.OK) {
                                        directionsDisplay.setDirections(response);
                                    }
                                });
                            } 
                            else 
                            {
                                    alert("Error: " + status);
                            }
                        }

                        function initMap2()
                        {
                            var distanceService = new google.maps.DistanceMatrixService();
                            var origins = [];
                            {% for point in bus_droppoints %}
                            	pc = {{point.pincode}};
                            	origins.push(pc.toString());
                            {% endfor %}
                            console.log(origins);
                            var destination = document.getElementById('drop_pincode').value;
                            console.log(destination);
                            distanceService.getDistanceMatrix(
                                {
                                    origins: origins,
                                    destinations: [destination],
                                    travelMode: google.maps.TravelMode.DRIVING,
                                    avoidHighways: false,
                                    avoidTolls: false
                                }, 
                                callback2
                            );
                        }
                    </script>

<div class="intro-header">
        <div class="container">
		
            <div class="row">
                <div class="col-lg-12">
                  <div class="intro-message ">
                   	<div class=" OpacblackLayer">
                        <h2>{{bus_info.bus_name}}</h2>
                        <h3>Book a ticket</h3>
                        <hr class="intro-divider">
                        <div class="row">
						  <div class="col-xs-6">
						  <table class="table table-bordered" >
						  <tr>
							  <td>
							   <img src="{% static ''%}{{bus_info.image}}" width=360 />
							  </td>
						  </tr>
						  <tr bgcolor="#FFFFFF" style="color:black">	
							  <td>
							  Fare : &nbsp; Rs {{bus_info.fare|floatformat}}/Per person
							  </td>
						  </tr>
						  <tr bgcolor="#FFFFFF" style="color:black">
							  <td>
							   Depart:&nbsp; &nbsp;&nbsp;{{bus_info.depature_time}}<br/>
								Arrive :&nbsp;&nbsp;&nbsp;{{bus_info.arriving_time}} 
							  </td>
						  </tr>
						  <tr bgcolor="#FFFFFF" style="color:black">
							  <td>
							  Type:&nbsp;&nbsp; {{bus_info.type}}
							  </td>
						  </tr>
						  <tr bgcolor="#FFFFFF" style="color:black">
							  <td>
							   {{bus_info.bus_description|slice:":150"}}
							  </td>
						  </tr>
						  
						  </table>

						  
						</div>
						  <div class="col-xs-6">
						  <form method='POST'action=".">
								{% csrf_token %}
								
								 <div class="row">
									<div class="form-group col-xs-9">
								     	 <label for="email">Email:</label>
								      	 <input type="email" name="email" placeholder="Please enter your email" id="email"  class="form-control input-sm " required/>
								      	
								      	 
								    </div>
								 </div>
								 <div class="row">
								    <div class="form-group col-xs-9">
								      	<label for="phone">Phone no.:</label>
								     	<input type="text" name="phone" pattern="[7-9]{1}[0-9]{9}" placeholder="Please enter your phone no." id="phone"  class="form-control input-sm" required/>
								     	
								    </div>
								  </div>
								  <div class="row">
								    <div class="form-group col-xs-9">
								      	<label for="bookDate">Booking Date</label>
        								<input class="min-today form-control input-sm" id="min" type="date" name="book_date" placeholder="YYYY-MM-DD" data-date-split-input="true" required/>								     	
								    </div>
								  </div>
								  <div class="row">
									<div class="form-group col-xs-9">
								     	 <label for="noofseats">No of seats:</label>
								      	 <input type="number" min="1" max="{{bus_info.no_of_seats}}" name="noofseats" placeholder="Please enter no of seats" id="noofseats"  class="form-control input-sm " required/>
								      	 <input type="hidden" name="fare_bus" value="{{bus_info.fare}}"/>
								    </div>
								 </div>
								 <div class="row">
									<div class="form-group col-xs-9">
								      	<label for="pickup_pincode">Pick Up Pincode:</label>
								     	<input type="text" name="pickup_pincode" pattern="[0-9]{6}" placeholder="Please enter your pickup pincode." id="pickup_pincode"  class="form-control input-sm" onchange="initMap()"required/>
								     	<input type="hidden" name="pickup_id" id="pickup_id"  value="1" class="form-control input-sm"/>
								    </div>
								 </div>
								 <div class="row">
									<div class="form-group col-xs-9">
								      	<label for="drop_pincode">Drop Pincode:</label>
								     	<input type="text" name="drop_pincode" pattern="[0-9]{6}" placeholder="Please enter your drop pincode." id="drop_pincode"  class="form-control input-sm" onchange="initMap2()" required/>
								     	<input type="hidden" name="drop_id" id="drop_id"  value="1" class="form-control input-sm"/>
								    </div>
								 </div>
								  <div class="row">
									<div class="form-group col-xs-9">
										<input type="submit" name="bookticket" value="Book Ticket"  class="btn btn-primary" />
									 </div>
								</div>
								</form>
                				<div style="width: 500px;">
                     				 
                     			</div>
								<div class="row">
									<div class=" col-xs-9">
										 <table class="table table-bordered" >
										  <tr>
											  <td>
											   Terms & Conditions*
											  <p>1. Bus Reservation System* is an online marketplace. It does not operate bus services of its own. In order to provide a comprehensive choice of bus operators, departure times and prices to customers, it has tied up with many bus operators.</p>											
											  <p>2. Issuing a valid ticket</p>
											  <p>3. Seat numbers wil be given at the time of boarding the bus</p>
										  
											  </td>
										  </tr>
										 </table>
									 </div>
								</div>
								 </div>
						  	<div style="width: 1050px;">
                     				<div id="map1" style="width: 500px; height: 400px; float: left;"></div> 
                     				<div id="map2" style="width: 500px; height: 400px; float: right;"></div>
                     		</div>
						  </div>
						  
						  
						</div>
                    
                    </div>
                </div>
            </div>
		
        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
    <script>
    $(function(){
    	$('[type="date"].min-today').prop('min', function(){
        	return new Date().toJSON().split('T')[0];
    	});
	});
    </script>    
  {% endblock %}